{% extends 'base.html' %}
{% block content %}
    <div class="col-md-12 main min-height-main">
        {{ message }}
        <form action="">
            <div class="row">
                <div class="col-md-2">
                    <label for="">title: {{ bookInfo['title'] }} </label>
                </div>
                <div class="col-md-2">
                    <label for="">
                        {% if bookInfo['volume'] > "" %}
                            volume: {{ bookInfo['volume'] }}
                        {% endif %}
                        {% if bookInfo['volume'] and bookInfo['book'] %}
                            / 
                        {% endif %}
                        {% if bookInfo['book'] %}
                            book: {{ bookInfo['book'] }}
                        {% endif %}
                    </label>
                </div>
                <div class="col-md-5">
                    <label for="">
                        {% if bookInfo['composer'] > "" %}
                            composer: {{ bookInfo['composer'] }}
                        {% endif %}
                        {% if bookInfo['composer'] and bookInfo['arranger'] %}
                            / 
                        {% endif %}
                        {% if bookInfo['arranger'] %}
                            arranger: {{ bookInfo['arranger'] }}
                        {% endif %}
                    </label>
                </div>
                <div class="col-md-3">
                    <label for="">publisher: {{ bookInfo['publisher'] }} </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="title">Title of Piece:</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="title" value="">
                </div>
                <div class="col-md-3 form-group">
                    <label for="title">Number in book:</label>
                    <input type="text" class="form-control" name="number" id="number" placeholder="number" value="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="composer">Composer of Piece:</label>
                    <input type="text" class="form-control" name="composer" id="composer" placeholder="composer" value="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <label for="instrument">Instrument:</label>
                    <input type="text" class="form-control" name="instrument" id="instrument" placeholder="instrument" value="">
                </div>
                <div class="col-md-3 form-group">
                    <label for="grade">Grade:</label>
                    <input type="text" class="form-control" name="grade" id="grade" placeholder="grade" value="">
                </div>
                <div class="col-md-3 form-group">
                    <label for="list">List:</label>
                    <input type="text" class="form-control" name="list" id="list" placeholder="list" value="">
                </div>
                <div class="col-md-3 form-group">
                    <label for="syllabusYear">Syllabus (Year):</label>
                    <input type="text" class="form-control" name="syllabusYear" id="syllabusYear" placeholder="Year Syllabus Start" value="">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="comment">Comments:</label>
                    <textarea class="form-control" rows="3" id="comment"></textarea>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default" name="Proceed" type="submit" value="login">Submit</button>
            </div>
        </form>
        <!-- title: {{ bookInfo['title'] }}<br>
        volume: {{ bookInfo['volume'] }}<br>
        book: {{ bookInfo['book'] }}<br>
        composer: {{ bookInfo['composer'] }}<br>
        arranger: {{ bookInfo['arranger'] }}<br>
        publisher: {{ bookInfo['publisher'] }}<br> -->
    </div>

{% endblock %}