{% extends 'base.html' %}
{% block content %}
    <div class="col-md-12 main min-height-main">
        {{ message }}
        <form action="{{ url_for('save_new_piece', id=thisBook['id']) }}" method="POST">
                <!-- bookInfo = {}
                # bookInfo['title'] = thisBook['title']
                # bookInfo['volume'] = thisBook['volume']
                # bookInfo['book'] = thisBook['bookNo']
                # bookInfo['composer'] = thisBook['composer']
                # bookInfo['arranger'] = thisBook['arranger']
                # bookInfo['publisher'] = thisBook['publisher'] -->

            <div class="row">
                <div class="col-md-2">
                    <label for="">title: {{ thisBook['title'] }} </label>
                </div>
                <div class="col-md-2">
                    <label for="">
                        {% if thisBook['volume'] %}
                            volume: {{ thisBook['volume'] }}
                        {% endif %}
                        {% if thisBook['volume'] and thisBook['bookNo'] %}
                            / 
                        {% endif %}
                        {% if thisBook['bookNo'] %}
                            book: {{ thisBook['bookNo'] }}
                        {% endif %}
                    </label>
                </div>
                <div class="col-md-5">
                    <label for="">
                        {% if thisBook['composer'] %}
                            composer: {{ thisBook['composer'] }}
                        {% endif %}
                        {% if thisBook['composer'] and thisBook['arranger'] %}
                            / 
                        {% endif %}
                        {% if thisBook['arranger'] %}
                            arranger: {{ thisBook['arranger'] }}
                        {% endif %}
                    </label>
                </div>
                <div class="col-md-3">
                    <label for="">publisher: {{ thisBook['publisher'] }} </label>
                </div>
                <hr class="col-md-12">
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="title">Title of Piece:</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="title" value="">
                </div>
                <div class="col-md-3 form-group">
                    <label for="number">Number in book:</label>
                    <input type="text" class="form-control" name="number" id="number" placeholder="number" value="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="composer">Composer of Piece:</label>
                    <input type="text" class="form-control" name="composer" id="composer" placeholder="composer" value="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <label for="instrument">Instrument:</label>
                    <input type="text" class="form-control" name="instrument" id="instrument" placeholder="instrument" value="">
                </div>
                <div class="col-md-3 form-group">
                    <label for="grade">Grade:</label>
                    <input type="text" class="form-control" name="grade" id="grade" placeholder="grade" value="">
                </div>
                <div class="col-md-3 form-group">
                    <label for="list">List:</label>
                    <div class="form-group radio" name="list">
                        <label class="radio-inline"><input type="radio" name="list" value="A" checked>A</label>
                        <label class="radio-inline"><input type="radio" name="list" value="B">B</label>
                        <label class="radio-inline"><input type="radio" name="list" value="C">C</label>
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <label for="syllabusYear">Syllabus (Year):</label>
                    <input type="text" class="form-control" name="syllabusYear" id="syllabusYear" placeholder="Year Syllabus Start" value="">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="comment">Comments:</label>
                    <textarea class="form-control" name="comment" rows="3" id="comment"></textarea>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default" name="Proceed" type="submit" value="login">Submit</button>
            </div>
        </form>
    </div>

{% endblock %}