{% extends 'base.html' %}
{% block content %}
    <div class="col-md-12 main min-height-main">
        {{ message }}
        <hr>
    </div>
    <div class="col-md-12 main min-height-main">
        <div class="row">
            <div class="col-sm-6">
                <h2>Book id: {{ thisBook['id'] }}  </h2>
                <button><a href="{{ url_for('add_piece', id = thisBook['id']) }}">Add a piece</a></button>
                <h3>{{ thisBook['title'] }}
                    {% if thisBook['volume'] %} - volume: {{ thisBook['volume'] }} {% endif %}
                    {% if thisBook['bookNo'] %} - book: {{ thisBook['bookNo'] }} {% endif %}
                </h3>
                <p><strong>
                    {% if thisBook['composer'] %} composer: {{ thisBook['composer'] }}   &nbsp; &nbsp;{% endif %}
                    {% if thisBook['arranger'] %} arranged by: {{ thisBook['arranger'] }} {% endif %}
                </strong></p>
                <p><strong>
                    Publisher: {{ thisBook['publisher'] }}
                </strong></p>
            </div>
            <div class="col-sm-6">
                {% if thisBook['img'] != "" %}
                    <img src="/static/img/{{ thisBook['img'] }}" alt="{{ thisBook['title'] }}">
                {% else %}
                {% endif %}
            </div>
        </div>



        <hr>
        <p><strong>Clefs:</strong>
            {% for clef in thisBook['clefs'] %}
                {% if clef == "Treble Clef" %}
                    <span style="font-size:2em">&#119070;</span>
                {% elif clef == "Bass Clef" %}
                    <span style="font-size:1.5em">&#119074;</span>
                {% endif %}
                {{ clef }} &nbsp; &nbsp;
            {% endfor %}
        </p>
        <p><strong>Grades:</strong>
            {{ thisBook['grades']}}
        </p>
        <hr>
        <p><strong>Instruments:</strong></p>
            <ul>
            {% for instrument in thisBook['instruments'] %}
                <li>{{ instrument}}</li>
            {% endfor %}
        </ul>
        <hr>
        <p><strong>Comments:</strong>
            {{ thisBook['comment']}}
        </p>
        <hr>
        <h3>Pieces</h3>
        <!-- {#% if thisBook['pieces'] == null %#}
            No pieces to display
        {#% else %}
            {#% for piece in thisBook['pieces'] %#} -->

                <div class="col-md-12 main min-height-main">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>No.</th>
                                <th>Composer</th>
                                <th>Instrument</th>
                                <th>Grd</th>
                                <th>List</th>
                                <th>Yr</th>
                            </tr>
                        </thead>
                        <tbody>
                                
                                {% if thisBook['pieces'] == null %}
                                    No pieces to display
                                {% else %}
                                    <!-- {#% for piece in thisBook['pieces'][1] %#} -->
                                    {% set pieces = thisBook['pieces'][1] %}
                                    {#{ pieces }#}
                                    <!-- {#% for ndx in thisBook['pieces'][0] %#} -->
                                    {% for thisPiece in pieces %}
                                    {{ pieces[thisPiece] }}<br>
                                    <!-- {#% loop.index0 %#} -->
                                        <!-- <ul>
                                            <li>{#{ piece }#}</li>
                                        </ul> -->
                                        <!-- {#% for entry in piece['entries'] %#} -->
                                        <!-- {#% if loop.index > 1 %#} -->
                                            <tr>
                                                <th>
                                                        <!-- {{ thisBook['pieces'][1][ndx] }} -->
                                                    {{ pieces[thisPiece]["pieceTitle"] }}
                                                    <!-- {#{ thisBook['pieces'][1][ndx]["pieceTitle"] }#} -->
                                                    <!-- {#{ piece[ndx]["pieceTitle"] }#} -->
                                                </th>
                                                <td>
                                                    {{ pieces[thisPiece]["numberInBook"] }}
                                                    <!-- {#{ piece["numberInBook"] }#} -->
                                                </td>
                                                <td>
                                                    {{ pieces[thisPiece]["pieceComposer"] }}
                                                    <!-- {#{ piece["pieceComposer"] }#} -->
                                                </td>
                                                <td>
                                                    <!-- {#{ entry["instrument"] }#} -->
                                                    {{ pieces[thisPiece]["instrument"] }}
                                                    <!-- {#{ piece["instrument"] }#} -->
                                                </td>
                                                <td>
                                                    <!-- {#{ entry["grade"] }#} -->
                                                    {{ pieces[thisPiece]["grade"] }}
                                                    <!-- {#{ piece["grade"] }#} -->
                                                </td>
                                                <td>
                                                    <!-- {#{ entry["list"] }#} -->
                                                    {{ pieces[thisPiece]["list"] }}
                                                    <!-- {#{ piece["list"] }#} -->
                                                </td>
                                                <td>
                                                    <!-- {#{ entry["syllabusYear"] }#} -->
                                                    {{ pieces[thisPiece]["syllabusYear"] }}
                                                </td>
                                                <td>
                                                    <button><a href="{#{ url_for('add_piece', id = book) }#}">Edit</a></button>
                                                </td>
                                                <td>
                                                    <button><a href="{{ url_for('delete_piece', id=thisBook['id'], p_index=pieces[thisPiece]['p_index']) }}"><strong>X</strong></a></button>
                                                </td>
                                            <!-- {#% endfor %#} -->
                                            
                                            </tr>
                                        <!-- {#% endif %#} -->
                                    {% endfor %}
                                {% endif %}
                        </tbody>
                    </table>
                </div>
            <!-- {#% endfor %#}
        {#% endif %#} -->


{% endblock %}